PLP/
Mobility/
Sainaths/
workspace/
DBI/Code/.~lock.A1.docx#
DBI/Code/P1/lex.yy.c
DBI/Code/P1/main
DBI/Code/P1/y.tab.c
DBI/Code/P1/y.tab.h
DBI/Code/P1/.vscode/
*.DS_Store
DBI/Code/P1/main.cc
database-implementation-master.zip
DBI/Code/~$A1.docx
DBI/database-implementation-master/

DBI/Code/P1/*.o
DBI/Code/P1/*.bin
DBI/Code/P1/*.METAINF
DBI/Code/P1/*.out

DBI/Code/P1/y.tab.c-e

DBI/Code/P1/Makefile
DBI/Weekly assignment/~$ekly3_36398850.docx
DBI/Assignment 2/~$A2.docx
DBI/Code/.vscode/
DBI/Code/P1/Makefile
DBI/Submissions/Assignment1_Group9/
